body {
    background-color: rgb(191,191,191);
    background-image: url('../img/imagem\ escura.png');
    font-family: "Rowdies", sans-serif;
    color: white;
}

header{ 
    padding: 3%;
}
#menu ul{
padding: 0px;
margin: 0px;
list-style: none;
}

#menu ul li {display: inline;}

#menu ul li a {
    padding: 2px 10px;
    display: inline-block;
    text-decoration: none;
    border-bottom: 3px solid rgb(190, 159, 73);
    color: white;
}

/* Classe atribuida para a div que vai receber o logo tipo */
.logo{
}

main{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-family: "Bree Serif", serif;
}

section{

}

footer{
    background-color:black;
    padding: 3%;
}

.cabecalho{
    padding: 3%;
}

.rodape{
    padding: 3%;
}

.titulos{
    line-height: 3;
    text-align: center;
    font-weight: bold;
}
    section{
        line-height: 1;
        font-size: 1em;
    }
    p{
        font-size: 1.2em;
    }

    h2{
    color:sandybrown;
        line-height: 3em;
    font-size: 2em;
    font-family: "Indie Flower", cursive;
}
h3{
    line-height: 3.5em;
    font-size: 3em;
    font-family: "Indie Flower", cursive;
}

h4{
    color:sandybrown;
    line-height: 1.5em;
    font-size: 2em;
    font-family: "Prata", serif;
}


.rowdies-light {
    font-family: "Rowdies", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .rowdies-regular {
    font-family: "Rowdies", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .rowdies-bold {
    font-family: "Rowdies", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .bree-serif-regular {
    font-family: "Bree Serif", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .righteous-regular {
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-style: normal;
  }  

figure{
    text-align: center;
}


  .caixa-image{
    text-align: center;
    margin-top: 1%;
  }

  .indie-flower-regular {
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
  }

  .prata-regular {
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
  }

  
  
  